<div class="item-editor-container">
  <div class="input-container">
    <input type="text" placeholder="Title" [(ngModel)]="title" />
  </div>
  <div class="input-container">
    <textarea cols="30" rows="10" placeholder="Description" [(ngModel)]="description"></textarea>
  </div>
  <div class="input-container">
    <a class="button" (click)="save()">Save</a>
  </div>
</div>
