.input-container {
  padding: 10px;
}

.button {
  background: #00BCD4;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  color: #fff;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  min-height: 32px;
  min-width: 98px;
  margin: 0;
  padding: 0 16px;
  position: absolute;
}
