<div class="header-container">
  <h1 class="header-logo">
    <a routerLink="/">{{title}}</a>
  </h1>
  <ul class="header-menu">
    <li><a routerLink="/" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/item" routerLinkActive="active">New Item</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
<!-- Routed views go here -->
