.header-container {
  width: 100%;
  background: #1976D2;
  height: 56px;
  min-height: 56px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
}

.header-logo {
  margin: 0 72px 0 0;
  padding: 0;
  height: 56px;
  width: 250px;
  float: left;
}

.header-logo a {
  border-radius: 0;
  display: block;
  height: 56px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  line-height: 56px;
}

.header-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-menu li {
  margin: 0;
  float: left;
  display: list-item;
  text-align: -webkit-match-parent;
}

.header-menu li a {
  line-height: 56px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0 16px;
  text-transform: uppercase;
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: none;
  background: none;
  border-radius: 0;
  position: relative;
  letter-spacing: 0.16px;
  margin: 0;
  min-width: auto;
  box-sizing: border-box;
}

.header-menu li a.active {
  text-decoration: underline;
}
