.dashboard-container {
  display: flex;
  margin-top: 10px;
}

.items-list-container {
  width: 20%;
  background: #fff;
  border: 2px solid #1976D2;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}

.item-details-container {
  width: 80%;
  padding: 6px;
  margin-left: 10px;
  background: #fff;
  border: 2px solid #1976D2;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}
