<div class="dashboard-container">
  <div class="items-list-container">
    <app-item-list [items]="items" (notifySelectedItem)="selectItem($event)"></app-item-list>
  </div>
  <div class="item-details-container">
    <app-item-details *ngIf="selectedItem" [item]="selectedItem" (notifyChange)="itemChanged($event)"></app-item-details>
  </div>
</div>
